@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
    position:absolute;
    left:9.2rem;
    width:20px;
    top:30px;
    font-family: "Roboto", sans-serif;
}
.logo-image{
  height: auto;
  position: absolute;
  top:55px;
  left:4.6rem;
  max-height: 30%;
  max-width: 30%;
  width:70px;
  height:70px;
  background-image: url('https://plus.unsplash.com/premium_photo-1661962960694-0b4ed303744f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  mix-blend-mode: multiply;
  background-position: center;
}
.home-page-button{
    background-color: white;
    color: black;
    border: none #008CBA;
    border-radius:8px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.home-page-button:hover {
  background-color: lightGray;
  color: white;
}
.button-position{
    position:absolute;
    top:60px;
    left:58rem;
}

.main-buttons{
        position:absolute;
        top:120px;
        right:300px;
}

.another-home-page-button{
    background-color: white;
    color: black;
    width:70px;
    height:40px;
    border: none #008CBA;
    border-radius:8px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.another-home-page-button:hover {
  background-color: lightBlue;
  color: white;
}

.dropbtn {
  font-family: "Roboto", sans-serif;
  background-color: white;
   color: black;
   width:70px;
   height:40px;
   border: none #008CBA;
   border-radius:8px;
   font-family: "Roboto", sans-serif;
   font-weight: bold;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.dropdown-content a {
  padding: 6px 7px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
background-color: lightBlue
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:lightBlue;
  border-radius:17px;
}
.projects-dropdown {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 5px;
  padding: 5px;
  left:-100px;
}

.slider-background{
 background-image: url('https://www.businessminder.net/img/slides/slide-bg.jpg');
   width:1355px;
   height:440px;
   top:185px;
   left:-1px;
   position:absolute;
}

.video-slider {
   position:absolute;
   width:1355px;
   height:440px;
   top:193px;
    left:-1px;
}

.video-slide {
  position: absolute;
  width:1355px;
  height:440px;
  left:-1px;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.video-slide.active {
  opacity: 1;
}
.prev-button, .next-button {
  position: absolute;
  top: 50%;
  border-radius:27px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 3em;
  cursor: pointer;
  z-index: 1;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.highlight {
  background-color:#7cb9e8 ;
  padding: 0 5px;
  border-radius: 3px;
  position:absolute;
  left:270px;
  top:658px;
  font-family: "Kalam", cursive;
  height:50px;
  font-size:35px;
  font-weight: bold;
  border-radius:20px;
}
.text-heighlight{
    position:absolute;
    left:160px;
    top:628px;
    font-size:35px;
    font-weight: bold;
}
.text-heighlight-second-sentance{
   position:absolute;
    left:489px;

    top:628px;
    font-size:35px;
   font-weight:bold;
}
.text-heighlight-second-third{
        position:absolute;
         left:10px;
         top:700px;
         font-size:25px;
         font-weight:bold;
         color:gray;
}
